<style>
.dc-product-icons {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
}

@media (max-width: 500px) {
    .dc-product-icons {
        width: 100%;
        flex-flow: column;
    }
}
</style>

<div class="dc-product-icons">
        {%- render 'dc-product-functionality-icons' -%}
</div>

 